<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="multiplicityDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <multiplicityDemo.Properties.Settings>
            <setting name="Xsize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Ysize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LineLenght" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Xstart" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Ystart" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Steps" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LSysAngle" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LsysAxioma" serializeAs="String">
                <value>F+F--F+F</value>
            </setting>
            <setting name="MuliType" serializeAs="String">
                <value>Koch curve</value>
            </setting>
            <setting name="RealJylia" serializeAs="String">
                <value>-0.25</value>
            </setting>
            <setting name="ImagJulia" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveFileQuality" serializeAs="String">
                <value>50</value>
            </setting>
        </multiplicityDemo.Properties.Settings>
    </userSettings>
</configuration>
